
html{
	scroll-behavior: smooth;
}
html.lock{
	overflow: hidden;	
}
html.lock main,html.lock footer,html.lock .ring{
	filter:blur(3px);
}
body{	
	font-family: "Montserrat", sans-serif;
	color: #303030;
	text-align: justify;
	position: relative;	
}
header{
	position: absolute;
	
	width: 100%;
	height: 104px;	
	z-index: 2;	
	transition: all 0.3s ease;	
}
header.header_fixed{
	position: fixed;
	background: url(../img/header.png) no-repeat top center;	
	animation: fixedMenu 1s;
	background-size: 100vw 92px;
	
}
@keyframes fixedMenu {
	0%{background-size: 100vw 0;}
	50%{background-size: 100vw 104px;}
	100%{background-size: 100vw 92px;}
} 
@media (max-width: 800px){
	header.header_fixed{	
	background: url(../img/m-header.png) no-repeat top center;	
	background-size: 100vw 92px;
	}
}	
@media (max-width: 600px){
	header.header_fixed{	
	background: url(../img/sm-header.png) no-repeat  top center;
	background-size: 100vw 92px;	
	}
}	
section{		
	padding-top: 55px;
}
h1,h2,h4{
	transition:all 1.5s ease;
}
h1._anim-items,h2._anim-items,h4._anim-items{
	transform: translate(0px,120%);
	opacity: 0;	
}
h1._active,h2._active,h4._active{
	transform: translate(0px,0px);
	opacity: 1;
}
h1{
	font-weight: 900;
	font-size: 2em;
	color:white;
}
h2{
	font-size: 1.5em;
	text-align: center;	
	color: #303030;
	font-weight: 900;	
}
h3{	font-size: 2em;
	color: #303030;
	text-align: center;
	font-weight: 900;
	text-align: left;
	padding-bottom: 20px;
}
h4{	
	padding: 10px;
	font-size: 120%;
	font-weight: 600;
}
h5{
	text-transform: uppercase;
	color: %303030;
	font-weight: 500;
	padding-bottom: 24px;
}
a{
	text-decoration: none;
	color: inherit;	
}
span{	
	font-weight: 600;	
}
input,textarea{
	width: 100%;	
	margin: 4px 0;	
	padding: 15px 30px;
	border:none;
	background-color: white;
	border-radius: 5px;
}
input:hover,textarea:hover{
	border-color: #E30613;
}
i{
	padding-right: 5px;	
}
footer{
	background-color:#303030;
	color:white;
	padding:10px 0;
	margin-top: -1px;
}
.container{
	max-width: 1400px;
	margin:0 auto;
}
@media (max-width: 1450px){
	.container{max-width: 95vw;}
}
@media (max-width: 400px){
	p{font-size: 0.8em;}
}
@media (max-width: 350px){
	p{font-size: 0.6em;}
}




/*MENU*/

.nav-menu{
	display: flex;	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;	
	padding: 10px 0;	
}
@media (max-width: 1200px){
	.nav-menu{padding:4px 0 0 0;}
}
.index-menu{	
	transition: all 0.3s ease;
	opacity: 0;
}
.index-menu._active{
	transition-delay:8.5s;
	opacity: 1;
}
.logo-container img{
	height: 32px;	
}
.contacts-menu{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.phone{	
	text-align: right;
	font-size: 1.2em;
	color:white;
	padding: 0 10px;
	transition:	all 0.3s ease;
}
.phone-container{
	display: flex;
	flex-direction: row;
	align-items: center;	
	transition: all 0.3s ease;
}
.phone-container span{
	margin-left: 8px;	
}
@media (max-width: 700px){
	.phone-container span{
	display: none;	
	}
}
.phone-container:hover{
	transform: scale(1.05);
}
.phone i{
	background-color: #E30613;
	display: flex;
	height: 56px;
	width:56px;
	padding:  20px 15px 0;
	border-radius: 50%;	
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	
	padding: 0 4vw 0 0;
	justify-content: space-between;
	transition:	all 0.8s ease;
	z-index: 999;
}
#menu-burger{
	display: none;		
	width: 50px;
	background-color: #E30613;
	border-radius: 5px;
	padding: 5px 10px 0;
}
#burger{
  display: none;  
}
.burger-label{
  position: relative;
  width: 50px;
  height: 40px;
  display: inline-block;
  margin-top:8px;  
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: left;
}
.burger-label div,
.burger-label div:before,
.burger-label div:after {
  background:white;
  position: absolute;
  height: 5px;
  width: 30px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.burger-label div:first-child {
  top: 0px;
}
.burger-label div:nth-child(2) {
  top: 10px;
}
.burger-label div:nth-child(3) {
  top: 20px;
}
#burger + .burger-label div {
  -webkit-transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s, -webkit-transform .12s .033s;
}
#burger + .burger-label div:nth-child(3) {
  -webkit-transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, transform .17s;
  transition: top .15s .17s, transform .17s, -webkit-transform .17s;
}

#burger:checked + .burger-label div {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, transform .12s .1s;
  transition: top .1s, transform .12s .1s, -webkit-transform .12s .1s;
}
#burger:checked + .burger-label div:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, transform .17s .1s;
  transition: top .1s, transform .17s .1s, -webkit-transform .17s .1s;
}
.menu-items{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
}
.menu-item{
	font-size: 1.1em;
	color:white;	
	transition: all 0.5s ease;
	position: relative;
	margin: 0 15px;		
}
.menu-item a{
width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.menu-item a::before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width:100%;
	height: 2px;
	background-color: white;
	transition: 0.2s;
	transform: scaleX(0);
}
.menu-item a:hover:before{	
	transform: scaleX(1);
}
.header-contacts{
	display: none;
}
@media (max-width: 1200px){	
	.header-contacts{
		display: flex;
		color: white;
		width: 100%;
	}
	.header-contacts-container{
		padding:3vw;
		display: flex;
		flex-flow: column; 
		width: 100%;
		text-align: center;	
		align-items: flex-start	;	
	}
	.header-contacts .location, .header-contacts .mail,
	.header-contacts .telephones, .header-contacts .socicons {
		margin-bottom: 16px;
	}
	.header-contacts-container svg{
		height: 32px;
		fill: white;
		margin-right: 8px;
	}
	.header-contacts .icons{
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 32px;
	}
	#menu-burger{
		display:inline-flex;
	}		
	.menu{
		position: fixed;		
		background-color:rgba(48, 48, 48, 0.9);
		top:66px;
		width: 100%;
		right: -100%;		
		height: 100%;
		padding: 0;	
	}
	.menu.active{		
		right: 0;
	}
	.menu-items{
		height: 90vh;
		justify-content: center;
		text-align: center;
		flex-flow: column nowrap;
		font-size: 1.3em;
		padding: 10px 30px;
		margin-right: 0;
		align-items: flex-start;
	}
	.menu-item{
		margin: 2vh;				
		color:white;			
	}	
	.contacts-menu{
		width: 75%;
	}
}
@media (max-width: 768px){	
	.phone p{
		display: none;		
	}		
	.menu-item{
		padding:0.5vh;
	}
	.header-contacts{
		font-size: 80%;			
	}
}	




/*SECTION GENERAL*/

#general{
	padding-top: 0;
	z-index:-1;	
	height:100vh; 
	background-color: #303030; 	
}
.logo-shape{
	height: 140px;
	position: absolute;
	top: -20px;
	z-index:1;
	opacity: 0;	
	transition:all .5s ease;
}
.logo-shape._active{
	transform: scale(1);
	opacity: 1;
	transition-delay:8.5s;
}
@media (max-width: 1550px){
		.logo-shape{
			left: -50px;
	}
}
@media (max-width: 1000px){
		.logo-shape{
			left: -100px;
	}
}
@media (max-width: 400px){
		.logo-shape{
			left: -150px;
	}
}
.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.video-bg__content {
    z-index: 2;
    display: flex;   
    flex-direction: column;
    justify-content: center;
}
.video-bg-small{
	display: none;
}
@media (max-width: 700px){
	.video-bg-small{
		display: flex;
	}
	.video-bg-large{
		display: none;
	}
}
.text-general{	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;	
	width: 95vw;
	margin:  auto 0;
}
.text-general p, .text-general h1{
	max-width: 50vw;
	transition:all .5s ease;
	opacity: 0;	
	transform: translate(0px, 50px);
}
.text-general p._active, .text-general h1._active{
	transform: translate(0px, 0px);
	opacity: 1;
	transition-delay: 9.5s;
}
@media (max-width: 1000px){
	.text-general p, .text-general h1{
	max-width: 70vw;
	}
}
@media (max-width: 700px){
	.text-general{
		align-items: center;
	}
	.text-general p, .text-general h1{
	max-width: 80vw;
	}	
}
.text-general p{
	margin: 40px 0;
}
.btn-container{
	height: 60px;
	border-radius: 30px;
	background-color: #E30613;
	width: 250px;
}
.cta {
  position: relative;
	width: 216px;
  padding: 19px 22px;
  transition: all 0.5s ease;
  opacity: 0;	
  transform: translate(0px, 50px);	
}
.cta._active{
	transform: translate(0px, 0px);
	opacity: 1;
	transition-delay: 9.5s;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(227, 6, 19, 1);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background:  rgba(227, 6, 19, 0.7);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.general-contact{
	position: absolute;	
	width: 95vw;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	top: calc(92vh - 64px) ;
	color: white;
	max-width: 1400px;
	transition: all 0.3s ease;
	transform: scale(0);
	opacity: 0;
}
.general-contact._active{
	transform: scale(1.0);	
	transition-delay:8.5s;
	opacity: 100;
}
.gc-1{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	width: 50%;
}
.location a{
	display: flex;
	flex-flow: row;
	align-items: center;
}
@media (max-width: 700px){
	.gc-1 p{
	display: none;	
	}
}
.gc-2{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: flex-end;
	width: 50%;
}
.general-contact svg{
	height: 36px;
	fill: white;
	margin-right: 8px;
	transition: all 0.3s ease;
}
.general-contact a{
	transition: all 0.3s ease;
}
.general-contact a:hover{
	color:#E30613;
	transform: scale(1.05);
}
.general-contact a:hover svg{
	fill: #E30613;
	transform: scale(1.05);
}
.general .decor-element{
	height: 92px;
	margin-top: -90px;
	z-index: 2;
	position: relative;
	transform: rotate(180deg);
	width: 100vw;
	background-image: url(../img/decor_element.png);
	background-size: 100vw 92px;
}
@media (max-width: 800px){
	.general .decor-element{	
	background: url(../img/m-decor_element.png) no-repeat;	
	}
}	
@media (max-width: 600px){
	.general .decor-element{	
	background: url(../img/sm-decor_element.png) no-repeat;	
	}
}	

/**SECTION plus*/
#plus{	
	background-color: #E30613;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	color: white;
	margin-top: -1px;
}
.plus-container{
	display: flex;
	flex-flow: row;
}
.plus-item{
	color: #303030;
	border-radius: 5px;
	margin: 6px 12px;
	padding:  160px 36px 36px;
	font-weight: 700;
	background: url(../img/plus-icon-01.png) no-repeat white;
	background-position: left -40px top -56px;
	background-size: 60%;
}
.plus-item:nth-child(2){
	background: url(../img/plus-icon-02.png) no-repeat white;
	background-position: left -40px top -56px;
	background-size: 60%;
}
.plus-item:nth-child(3){
	background: url(../img/plus-icon-03.png) no-repeat white;
	background-position: left -40px top -56px;
	background-size: 60%;
}
.plus-item:nth-child(4){
	background: url(../img/plus-icon-04.png) no-repeat white;
	background-position: left -40px top -56px;
	background-size: 60%;
}
@media (max-width: 1200px){
	.plus-container{
	flex-flow: column;
	}
	.plus-item{
	background-position: left -40px top -56px;
	background-size: 15%;
	padding-top: 36px;
	padding-left: 30vw;
	}
}

.about-us-cards{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card{
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
	margin: 24px 0;
	transform: translate(0px,50%);
	opacity: 0;	
	transition:all .5s ease;
	border-radius: 5px;
	background-color: white;
	padding: 52px 40px ;

}
.card._active{
		opacity: 1;
		transform: translate(0px,0px);	
	}
.card img{
	width: 88px;
	height: 88px;
	margin-bottom: 32px;
}
.card p{
	color:#303030;
}
@media (max-width: 1000px){
		.card img{
		width: 70px;
		height: 70px;
	}	
}
@media (max-width: 800px){
		.about-us-cards{		
		flex-direction: column;	
		align-items: center;	
	}
	.card{
		width: 60%;
	}
}
@media (max-width: 500px){	
	.card{
		width: 90%;
	}
}







/**SECTION products*/

#products{	
	min-height:100vh;
	margin-bottom: -2px; 

}
.products .decor-element,.partners .decor-element {
	height: 92px;
	margin-top: -62px;
	z-index: 2;	
	width: 100vw;
	background-image: url(../img/decor_element.png);
	background-size: 100vw 92px;
}
.products .decor-element:nth-child(3){
	height: 92px;
	margin-top: -90px;	
	transform: rotate(180deg);
	width: 100vw;
	background-image: url(../img/decor_element.png);
	background-size: 100vw 92px;
}
@media (max-width: 800px){
	.products .decor-element,.partners .decor-element,.products .decor-element:nth-child(3){
		background-image: url(../img/m-decor_element.png);
	}
}
@media (max-width: 600px){
	.products .decor-element,.partners .decor-element,.products .decor-element:nth-child(3){
		background-image: url(../img/sm-decor_element.png);
	}
}
.products-container{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 70px 0 100px;	
}
.product{
	display: flex;
	flex-flow: row;
	align-items: center;
	background-color: #d3d3d3;
	border-radius: 5px;
	margin-bottom: 24px ;
	overflow: hidden;

}
.product img{
	height: 250px;
	transform: rotate(-15deg);
}
.product-img{
	display: flex;	
	background-color: #808080;	
	width: 100%;
	align-items: center;
	justify-content: center;	
	padding: 40px;	
}
.product-text{
	padding:0 60px;
}
.product-text p{
	padding-bottom: 40px;
}
.product:nth-child(3) img{
	height: 400px;
	transform: rotate(0);
}
@media (max-width: 1100px){	
	.product-text{
		font-size: .8em;
	}
}
@media (max-width: 900px){	
	.products-container{
		flex-flow: column;
		justify-content: space-between;
		align-items: flex-start;

	}
	.product{
		flex-flow: column;
	}
	.product-text{		
		padding: 60px;
	}
	.product-img{
	height: 400px;
	padding: 0;
	}
	.product h5{
		display: none;
	}
	.product:nth-child(2){
		flex-flow: column-reverse;
	}

}

.cta2{
  position: relative;
  text-align: center;
	width: 216px;	
  padding: 19px 22px;
  transition: all 0.5s ease;  
 }
.cta2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(227, 6, 19, 1);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta2 span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  vertical-align: middle;
}
.cta2 svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: #303030;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #303030;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta2:hover:before {
  width: 100%;
  background:  rgba(227, 6, 19, 0.7);
}
.cta2:hover svg {
  transform: translateX(0);
}
.cta2:active {
  transform: scale(0.96);
}

@media (max-width: 600px){
	.product-text{		
		padding:60px 30px;
	}
}



/*private-label*/

#private-label{
	padding-top: 0;
	background-color: #E30613;
	min-height: 30vh;
/*	margin-bottom: 64px;*/
}
.private-label-container{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}
.private-label h3, .private-label p{
	color: white;
}
.private-label p:nth-child(3){
	margin-bottom: 32px;
}
.private-label-img{
	max-width: 50vw;
	padding-left: 64px;
}
#private-label .cta2::before{
	background-color: white;
}
@media (max-width: 1500px){	
	.private-label-img{
	max-width: 100%;
	width: 100%;	
	}
}
@media (max-width: 1200px){	
	.private-label-text{
		width: 40%;
	}
	.private-label-img{
	width: 60%;	
	}
}

@media (max-width: 1100px){	
	#private-label{
		padding-top: 55px;
	}
	.private-label-container{	
	flex-flow: column-reverse;	
	}
	.private-label-text{
		width: 100%;
		margin-bottom: 64px;
	}
	.private-label-img{
		width:100%;		
		padding: 0;
	}
	.private-label-img img{
		max-height: 500px;
	}
	
}



/*SECTION partners*/

#partners{
/*	min-height: 40vh;	*/
	background-color: #434343;
	color: white;
}
.partners-container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-top: 40px;
}
.partners-container h2{
	padding-bottom:55px;
	color: white;
}
.logos-container{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	margin: 72px 0 ;
}
.logos-container img{
	max-width: 200px;
	max-height: 36px;
}

@media (max-width: 800px){	
	.logos-container{
		flex-flow: column;
	}
	.logos-container img{
		margin:  24px 0;
	}
}








#page-products,#page-your-brand,#page-about-us{
	background-color: #E30613;
}
#page-products h2 ,#page-your-brand h2,#page-about-us h2{
	color: white;
}
.imitation-menu{
	margin-top: -55px;
	background: url(../img/header.png) no-repeat;
	background-size: 100vw 92px;
	height: 104px;
}
@media (max-width: 800px){
	.imitation-menu{
		background-image: url(../img/m-header.png);
	}
}
@media (max-width: 600px){
	.imitation-menu{
		background-image: url(../img/sm-header.png);
	}
}
.rozrobka{
	height: 50vh;
	width: 100%;
	display: flex;
	background-color: #E30613;
	color:white;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 2em;
}

#page-products .decor-element,#page-your-brand .decor-element,#page-about-us .decor-element{
	width: 100vw;
	height: 92px;
	transform: rotate(180deg);
	margin-top:-110px ;
	z-index: 0;
}
footer.footer-margin-top{
	margin-top: -8px;
}




#page-contacts{
	min-height: 50vh;
	padding-bottom: 48px;
}
#page-contacts img{
	max-height: 500px;
}
.map-img{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 0;
}
#page-contacts p{
	padding: 12px 0;
}





/*SECTION MAP*/

.map{
	min-height: 30vh;
	background-color: #E30613;
	padding-top: 0;
	margin-top: -1px;
	margin-bottom: -8px;
}
.map iframe{
	width: 100%;
}
.map-dec-el{
	background: url(../img/header.png) no-repeat;
	background-size: 100vw 92px;
	height: 104px;
	transform: rotate(180deg);
	margin-top: -104px;
}
@media (max-width: 800px){
	.map-dec-el{
		background-image: url(../img/m-header.png);
	}
}
@media (max-width: 600px){
	.map-dec-el{
		background-image: url(../img/sm-header.png);
	}
}



/*SECTION FEEDBACK*/

#feedback{
	min-height: 40vh;
	background-color: #E30613;
	background: url(../img/feedback-01.png) no-repeat;
	background-size: cover;
}
.feedback-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
}
.form-img{
	display: flex;
	justify-content: center;
	width: 35%;
	padding-top: 60px;
}
.feedback-text-container{
	display: flex;		
	padding-bottom: 8px;
}
.feedback-form-container{	
	padding: 16px;	
	width: 35%;
	min-width: 35vw;	
	color: white;
}
.feedback-form{
	display: flex;
	flex-flow: column nowrap;	
}
.btn-submit-container{
	text-align: center;	
	margin-top:8px;
}
.btn-submit{
	background-color: white;
	border-radius: 20px;
	height: 40px;
	border-color: transparent;
	width: 160px;
	font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  color: #303030;
  transition: all 0.3s ease;
}
.btn-submit:hover{
	transform: scale(1.05);
}
@media (max-width: 1000px){
	.form-img{	
	width: 45%;
	}
	.feedback-form-container{
		width: 45%;
	}


}
@media (max-width: 700px){
	.feedback-container{	
		flex-direction: column-reverse;	
	}
	.form-img{	
	width: 100%;
	padding-top:0;
	margin-bottom: -100px;
	}
	.feedback-text-container,.feedback-form-container{
		width: 100%;
		padding-bottom: 10px;
	}
	.feedback-form-container{		
		padding: 10px;
	}	
	input,textarea{
		padding: 10px 15px;
	}	
}



/*FOOTER*/
.footer-contacts{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;	
	margin: 40px 0;
}
footer .menu-items{
	flex-flow: column;
}
footer .menu-item{
	margin: 0;
}
.footer-contacts svg{
	height: 24px;
	fill: white;
	margin-right: 8px;
	transition: all 0.3s ease;
}
.footer-contacts a{
	transition: all 0.3s ease;
}
.footer-contacts a:hover{
	color:#E30613;
}
.footer-contacts a:hover svg{
	fill: #E30613;
}
.fc-1{
	display: flex;
	flex-flow: column;
}
@media (max-width: 1200px){
	.fc-1{
		display: none;
	}
}
.fc-2{
	display: flex;
	flex-flow: column;
}
footer .location, .mail{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin-bottom: 16px;
}
.location a, .mail a{
	display: flex;
	flex-flow: row;
	align-items: center;
}
.telephones{
	display: flex;
	flex-flow: row;	
}
.fc-phones{
	display: flex;
	flex-flow: column;
}
.fc-3{
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	width: 30%;
}
.fc-3 p{
	text-align: right;
}
.icons{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: .7em;
}
.fc-3 .icons{
	margin-top: 16px;
}
.fc-last svg{
	margin-right: 0;
}
.fc-3 h4{
	padding-right: 0;
	text-align: right;
}
.copyright{
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 5px;
}
.web-design-for-you{
	color:white;
	padding-left: 5px;
}
.web-design-for-you{	
	font-weight: 700;
	transition: 0.5s ease;
}
.web-design-for-you svg{
	width: 12px;
}
.web-design-for-you:hover{	
	color: #e31f1b;
}
.web-design-for-you:hover svg{	
	animation-name: anim;
	-webkit-animation-name: anim;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes anim {
	0% {
		transform: scale(0.8);
	}		
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);		
	}
}
@media (max-width: 700px){
	.footer-contacts{
		flex-flow: column;
	}
	.fc-2,.fc-3{
		width: 100%;
		align-items: center;
	}
	.fc-3 p {
    text-align: center;
}
}













