
.icon-clock:before { content: '\e800'; } /* '' */
.icon-coffe:before { content: '\e801'; } /* '' */
.icon-e-mail:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-goal:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-html:before { content: '\e807'; } /* '' */
.icon-illustrator:before { content: '\e808'; } /* '' */
.icon-indesign:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */
.icon-medal:before { content: '\e80c'; } /* '' */
.icon-messenger:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-photoshop:before { content: '\e80f'; } /* '' */
.icon-portfolio:before { content: '\e810'; } /* '' */
.icon-skype:before { content: '\e811'; } /* '' */
.icon-telegram:before { content: '\e812'; } /* '' */
.icon-viber:before { content: '\e813'; } /* '' */
.icon-css:before { content: '\e814'; } /* '' */
.icon-js:before { content: '\e815'; } /* '' */
